img {
    max-width: 60%;   
}
body {
    font-size: large;
}
.container {
    box-shadow: 0 0 5px;
    margin: 40px;
    width: 40%;  
}
.container-1 {
    padding: 20px;
}
.container-2 {
    display: flex;
    padding: 10px;;
}
.box-1 {
    width: 60%;
    padding: 10px;
}
.box-2 {
    padding: 10px;
}
.blocks {
    display: flex;
    justify-content: center;
    margin:auto;
}
.block {
    padding: 10px;
}

.container-3 {
    padding: 5px 20px;
    align-items: flex-start;
}
