@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4rem;
	color: #6B6B6B;
	background: #F2F2F2;
    margin: 0;
    padding: 0;
}
img {
    vertical-align: middle;
}
header {
	background: #363636;
    height: 75px;
    text-align: center;
    width: 100%;
    z-index: 12;
    position: fixed;
} 
.content {
	width: 1170px;
	max-width: 100%;
    margin: 0 auto;
}   
/*align-items: center;*/
.logo {
    width: 30%;
    float: left;
    line-height: 70px;
}
.logo a {
    text-decoration: none;
    font-size: 2rem;
    color: #dadada;
    font-weight: bold;      
}
.content nav {
    float:right;
    line-height: 70px;
    margin: 0 20px 0 0;
    
}
.content nav a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0 7px; 
    align-items: center;
    list-style: none;
    transition: color 0.2s linear;  
}
.content nav a:hover {
    color: #DA4453;
}
.slider {
    width: 1170;
    max-width: 100%;
    height: 300px;
    left: 0;
    right: 0;
    background-image: url(img/slider.jpg);
    margin-bottom: 50px;
    
}
.slider-heading-1 {
    max-width: fit-content;
    padding: 12px 20px;
    background-color: rgba(218,68,83,0.7);
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.slider-heading-2 {
    padding: 12px 20px;
    max-width: 600px;
    background-color: rgba(59, 59, 59, 0.8);
    font-weight: bold;
    color: #DDDDDD;
}

.main-content {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

.column-left {
	width: 750px;
	flex-shrink: 0;
	max-width: 70%;
	margin-right: 15px;
}

.article {
	color: #6b6b6b;
	font-size: 1.4rem;
    background-color: #fff;
    margin-bottom: 50px;
}

.article .article-image img {
	max-width: 100%;
	transition: opacity 0.2s linear;
}
.article .article-image img:hover {
	opacity: 0.8;
}
.article-content {
    padding: 45px 50px;
    border: 1px solid #dadada;
}
.article .content-heading h1 {
    margin: 0 0 30px 0;
}
.article .content-heading h1 a {
    color: #444444;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-size: 2.8rem;
    transition: color 0.2s linear;
}
.article .article-heading h1 a:hover {
   color: #da4453;
}
.article .content-meta {
    display: flex;
    margin-bottom: 30px;
}
.article .content-meta > div {
    margin-right: 15px;
}
.article .content-meta > div:last-child {
    margin-right: 0;
}
.article .content-meta a {
    font-size: 13px;
    color: #6b6b6b;
    text-decoration: none;
}
.article .content-actions {
    text-align: right;
    margin-top: 10px;
}
.article .content-actions .readmore {
    background: #da4453;
	color: #fff;
	font-size: 1.3rem;
	padding: 11px 13px;
	text-decoration: none;
	display: inline-block;
	border-radius: 4px;
	border: 1px solid #da4453;
	transition: background 0.2s linear;
    
}
.article .content-actions .readmore:hover {
    background: black;
    border-color: black;
}
.column-right {
    width: 390px;
    height: fit-content;
	padding: 0 30px 0 30px;
    border: 1px solid #dadada;
    background-color: white;
    margin: 0 15px 0 15px;
    border-radius: 4px;
}
.right-heading {
    font-size: 1.4rem;
    font-weight: bold;
    color: #676763;
    margin-bottom: 25px;
}
.socials-icons {
    margin-bottom: 50px;
}
.right-comments {
    margin-bottom: 50px;
}

.icons-image {
    display: flex;    
}
.icons-image i {
    font-size: 40px;
    padding: 0 5px 5px 0;
    border-radius: 4px;
    color: #C1C0C0;
    transition: color 0.2s linear;
}
.icons-image .icon-twitter i:hover {
    color: #55ACEE;
}
.icons-image .icon-fb i:hover {
    color:  #4265b9;
}
.icons-image .icon-youtube i:hover {
    color: #df3333;
}
.icons-image .icon-google i:hover {
    color: #d62408;
}
.icons-image .icon-linkedin i:hover {
    color: #5B8BB4;
}


.right-comments-menu div {
    border-bottom: 2px solid #f2f2f2;
    padding: 10px 0 10px 0;
}
.right-comments-menu a {
    color: #C1C0C0;
    text-decoration: none;
    font-size: 1.4rem;
    transition: color 0.2s linear;
}
.right-comments-menu a:hover {
    color: #636467;
    
}

.tags {
    
    float: left;
    margin: 0 4px 4px 0;
    font-size: 1.2rem;
    border: 1px solid #dadada;
    padding: 6px 7px;
    text-decoration: none;
    background-color: #dadada;
    color: white;
    border-radius: 3px;
    transition: background-color 0.2s linear;
}
.tags:hover {
background-color: #DA4453;
}

footer {
    background:  #1F1F1F;
    width: 1170px;
    max-width: 100%;
    height: 75px;
    text-align: center;
    width: 100%;
    margin: 0 auto;

} 
.footer-content nav {
    float:left;
    line-height: 70px;
    margin: 0 0 0 180px;
    
}
.footer-content nav a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color:  #DADADA;
    margin: 10px 15px;
    align-items: center;
    list-style: none;
    transition: color 0.2s linear;  
}
.footer-content nav a:hover {
    color: white;
}
.footer-right-text {
    width: 30%;
    float: right;
    line-height: 70px;
}
.footer-right-text a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #DADADA;
    font-weight: bold;
}