body {
    margin: 60px;
}

.container {
    box-shadow: 0 0 5px;
    padding: 30px;
    }

.blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    
    margin:auto;

}
p.box-1::before {
content: "70%";
}
.box-1 {
    border: 1px solid rgb(243, 93, 55);
    padding: 10px;
    background-color: rgb(243, 93, 55);
    height: 70px;
    width: 30px;
    
}
.box-2 {
    border: 1px solid rgb(226, 158, 109);
    padding: 10px;
    background-color: rgb(226, 158, 109);
    height: 50px;
    width: 30px;
}

.box-3 {
    border: 1px solid rgb(34, 150, 134);
    padding: 10px;
    background-color: rgb(34, 150, 134);
    height: 30px;
    width: 30px;
}
.box-4 {
    border: 1px solid rgb(125, 177, 207);
    padding: 10px;
    background-color: rgb(125, 177, 207);
    height: 100px;
    width: 30px;
}
.box-5 {
    border: 1px solid rgb(233, 178, 140);
    padding: 10px;
    background-color: rgb(233, 178, 140);
    height: 90px;
    width: 30px;
}
.box-6 {
    border: 1px solid rgb(230, 127, 53);
    padding: 10px;
    background-color: rgb(230, 127, 53);
    height: 60px;
    width: 30px;
}
.box-7 {
    border: 1px solid rgb(103, 161, 49);
    padding: 10px;
    background-color: rgb(103, 161, 49);
    height: 10px;
    width: 30px;
}
.box-8 {
    border: 1px solid rgb(129, 86, 55);
    padding: 10px;
    background-color: rgb(129, 86, 55);
    height: 35px;
    width: 30px;
}