body {
    margin: 30px;
}
img {
    max-width: 60%;
    
   
}
.blocks {
    display: flex;
    justify-content: center;
    margin:auto;

}
.container {
    box-shadow: 0 0 5px;
    padding: 20px;
    }
.block {
    
    width: 35%;
    box-sizing: border-box;
    padding: 25px;

}

.blocks::after {
    content: '';
    display: block;
    clear: both;
}